.packsContainer {
    /**/
    /*;
    border: 1px solid dimgrey;
    border-radius: 15px;
    background: white;
    margin-bottom: 10px;
    */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    padding: 15px 10px;
    margin: 0 auto;
    width: 75%;
    margin-top: 10vh;
}

.packsTopPart {
    margin: 10px 0 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.packList {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}


.displayOptionsContainer {
    height: 70px;
    width: 100%;
    margin: 5px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sortOptionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.searchTitle {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 5px;
}

.toggleTitle {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 5px;
}
.packsList {
    height: 40vh;
    background-color: #e3df67;
    width: 100%;
    margin: 5px 0;
}

.filterClearBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-top: 20px;
    width: 40px;
    height: 36px;
}