.header {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    overflow-x: hidden;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;

}

.profileMenu {
    margin-left: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBarProfileImg {
    /*position: absolute;
    margin-left: 80%;
    top: 30%;*/
    width: 32px;
    height: auto;
    border-radius: 50%;
}

.navBarLoginInfo {
    font-size: 20px;
    font-weight: 600;
    color: red;
}

.navBarUserName {
    font-size: 15px;
    font-weight: 500;
    /*position: absolute;
    left: 70%;
    top: 42%;*/
}

